body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  display: flex;
  /* justify-content:space-between; */
  height: 5rem;
  padding-top: 1rem;
  padding-left: 30px;
  justify-content:space-around ;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
}


.container {
  max-width: 800px;
  margin: 20px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }
.logo img {  
  /* height: 1px; Adjust height as needed */
border: none; 
  border-radius: 50%; 
}
.navbar-links {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Allow links to take up remaining space */
  margin-left: 40px;   
}

.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 600px) {
  .navbar {
    /* flex-direction: column; */
    align-items: center;
  }
  
  .logo {
    order: -1; /* Move logo to the top */
  }
  
.b{
    margin-left: 1rem;
}
}
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
  
  .footer-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 600px) {
    footer {
      padding: 10px 0;
    }
  }
  
